* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, sans-serif;
    background-color: rgb(156, 156, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative; 
    width: 300px; 
    height: 400px; 
    
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10%;
    margin-top: 10px;
}
.card-image {
    z-index: 1;
    transform: rotate(5deg) translateX(10px);
}
.image1 {
    z-index: 1; 
    transform: rotate(-5deg) translateX(10px);
}

.image2 {
    z-index: 2;
    opacity: 0.8; 
    transform: rotate(10deg) translateX(10px);
}

.image3 {
    z-index: 3; 
    transform: rotate(-10deg) translateX(10px);
}

.image4 {
    z-index: 1; 
    transform: rotate(15deg) translateX(10px);
}


.image5 {
    z-index: 2; 
    opacity: 0.8;
    transform: rotate(-15deg) translateX(10px);
} 


.image6 {
    z-index: 3; 
    transform: rotate(10deg) translateX(10px);
}


.card-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.card-description {
    text-align: center;
    padding: 0 10px;
}

.buttons {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin: 20px 0;
    border: none;
    position: relative;
    bottom:200px;
    
}

.dislike-btn {
    margin-right: auto; 
    margin-bottom: 5;
}
.buttons{
    gap: 400px;
}
.like-btn {
    margin-left: auto; 
}
.buttons button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: ease-in 0.2s;
}
.buttons button:hover{
    transform: scale(1.5);
}
.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.swipe-left {
    transform: translateX(-100%) rotate(-20deg);
    opacity: 0;
}

.swipe-right {
    transform: translateX(100%) rotate(20deg);
    opacity: 0;
}
